<!DOCTYPE html>
<html>
<head>
	<title>Add data</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<style type="text/css">
	</style>
</head>
<body>
	<div class='container'>
		<h1><marquee>Registration form</marquee></h1>
	<form action="#" method="POST">
		<h4>Name:<input type="text" name="name"><br><br></h4>
		<h4>SurName:<input type="text" name="surname"><br><br></h4>
		<h4>Roll Number:<input type="text" name="roll_no"><br><br></h4>
		<h4>Mobile Number:<input type="text" name="mobile"><br><br></h4>
		<h4>Branch:<input type="text" name="branch"><br><br></h4>
		<h1><input type="submit" value="Register"></h1>
	</form>
</div>
</body>
</html>